
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Roboto:wght@900&display=swap');
.imgListProduct{
    width: 100%;
    height: 500px!important;
}

.listProduct1{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}

.para1{
    font-family: 'Niconne', cursive;
    font-size:2em;
    /* font-family:'Averia Serif Libre, cursive '; */
  
}