

.imgListPro{
    width: 80px;
    height: 80px;
    border-radius: 100px;

}
 .tab1{
   margin-top: 50px;
   /* background-color: #b6997c; */

 }

 .actionLogo{
    display: flex;
    justify-content: space-around;
 }


 .btnAddProduct1{
  margin-top: 30px;
  margin-left: 300px;
 }


 .bordeDiv{
  border: #b6997c;
  border-style: dotted;
 }



